body{
    background-color: #E4F9F5;
}

.heading{
    width: 200px;
    height: 200px;
    border: solid 10px;
    padding: solid 20px;
    background-color:steelblue ;
}

.heading2{
    background-color: red;
    margin-left: 260px;
    width: 200px;
    height: 200px;
    border: solid 20px;
}

.heading3{
    background-color: green;
    margin-left: 500px;
    width: 200px;
    height: 200px;
    border: solid 10px;
}